* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 70px;
  width: 100%;
  background-color: rgb(77, 83, 97);
  display: flex;
  position: fixed;
  z-index: 9999;
}

.instagramicon {
  position: absolute;
  margin-left: 18px;
  margin-top: 18px;
}
.instagramicon a {
  text-decoration: none;
  color: rgb(141, 142, 143);
  font-size: 20px;
}
.instagramicon a:hover {
  color: rgb(242, 226, 123);
}

.logocontainer {
  width: 100px;
  height: 50px;
  margin-left: 15%;
  margin-top: auto;
  margin-bottom: auto;
}
.logocontainer img {
  width: 100px;
  height: auto;
}

.menunav {
  position: absolute;
  margin-top: 70px;
  width: 80%;
}

.menu {
  display: none;
}
.menu ul {
  list-style: none;
  background-color: rgb(255, 255, 255);
  height: auto;
  width: 100%;
  z-index: 1000;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
}
.menu ul li {
  text-decoration: none;
  padding: 5px;
}
.menu ul li a {
  text-decoration: none;
  color: rgb(77, 83, 97);
  padding: 25px;
  font-size: 15px;
  transition: 0.5s;
}
.menu ul li a:hover {
  color: rgb(242, 226, 123);
}

.menu.activo {
  display: block;
}

.abrir-menu, .cerrar-menu {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 35px;
  position: absolute;
  margin-left: 70%;
  margin-top: 10px;
  width: 50px;
}

.cerrar-menu {
  display: none;
}

@media (min-width: 769px) {
  .instagramicon {
    margin-left: 78px;
    margin-top: 15px;
  }
  .instagramicon a {
    font-size: 25px;
  }
  .menunav {
    margin-top: 0;
    display: flex;
    width: auto;
    position: relative;
  }
  .menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-left: 85px;
  }
  .menu ul {
    margin-left: 5%;
    padding: 10px;
    background-color: transparent;
    display: flex;
    box-shadow: none;
  }
  .menu ul li {
    padding: 5px;
  }
  .menu ul li a {
    color: rgb(255, 255, 255);
  }
  .abrir-menu {
    display: none;
    position: absolute;
  }
}
.portada {
  width: 100%;
  text-align: center;
}
.portada img {
  width: 100%;
}

.nosotros {
  text-align: center;
}
.nosotros h2 {
  border-top: #800000 2px solid;
  color: rgb(77, 83, 97);
  margin: auto;
  margin-top: 25px;
  padding-top: 25px;
  width: 50%;
  text-align: center;
}
.nosotros p {
  width: 100%;
  padding: 15px;
}

.nosotrosimg {
  width: 90%;
  margin: auto;
  text-align: center;
}
.nosotrosimg img {
  width: 100%;
  margin-top: 10px;
}

.servicios {
  text-align: center;
}
.servicios h3 {
  border-top: #800000 2px solid;
  color: rgb(77, 83, 97);
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-top: 25px;
  width: 50%;
  text-align: center;
}
.servicios p {
  padding: 10px;
}

.serviciosicon {
  display: block;
  text-align: center;
}
.serviciosicon i {
  font-size: 110px;
  color: #800000;
}

.nuestrosproductos h3 {
  border-top: #800000 2px solid;
  color: rgb(77, 83, 97);
  margin: auto;
  margin-top: 25px;
  padding-top: 25px;
  width: 50%;
  text-align: center;
}

.productosimg {
  width: 90%;
  display: block;
  text-align: center;
  margin: auto;
  position: relative;
}
.productosimg img {
  width: 85%;
  margin-top: 25px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  filter: brightness(0.5);
}
.productosimg h4 {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1;
  margin-top: 150px;
  color: rgb(255, 255, 255);
  font-size: 40px;
  text-shadow: 2px 2px 4px black;
}
.productosimg h4:hover {
  transform: scale(1.2);
}

.dondeestamos {
  text-align: center;
}
.dondeestamos h3 {
  border-top: #800000 2px solid;
  color: rgb(77, 83, 97);
  margin: auto;
  margin-top: 25px;
  padding-top: 25px;
  width: 50%;
  text-align: center;
}
.dondeestamos p {
  padding: 15px;
}
.dondeestamos .ubicacion {
  width: 100%;
  text-align: center;
}
.dondeestamos .ubicacion img {
  width: 80%;
  margin-bottom: 25px;
}

.mapa {
  width: 100%;
  text-align: center;
}

@media (min-width: 769px) {
  .portada {
    width: 100%;
    height: 500px;
    text-align: center;
    background-image: url(../img/masamadre3.png);
    background-size: cover;
    background-position: 0px;
  }
  .portada img {
    display: none;
  }
  .nosotroscontainer {
    margin-top: 90px;
    display: flex;
  }
  .nosotroscontainer .nosotros {
    display: block;
    width: 50%;
  }
  .nosotroscontainer .nosotros p {
    width: 80%;
    text-align: center;
    align-items: center;
    margin: auto;
  }
  .nosotroscontainer .nosotros h2 {
    width: 60%;
  }
  .nosotroscontainer .nosotrosimg {
    width: 35%;
    margin-left: 50px;
  }
  .servicios {
    margin-top: 80px;
  }
  .servicios .textoservicios {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
    margin: 0;
  }
  .servicios p {
    text-align: center;
    align-items: center;
  }
  .serviciosicon {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .serviciosicon .eventos {
    width: 150px;
  }
  .nuestrosproductos {
    position: relative;
  }
  .productosimg {
    display: flex;
    width: 100%;
    position: relative;
  }
  .productosimg a {
    text-decoration: none;
  }
  .productosimg img {
    width: 92%;
  }
  .panaderia, .pasteleria, .salado, .dulce {
    display: block;
    position: relative;
  }
  .panaderia h4, .pasteleria h4, .salado h4, .dulce h4 {
    margin-top: 65px;
  }
  .dondeestamos {
    margin-top: 90px;
    display: flex;
    flex-direction: row-reverse;
  }
  .dondeestamos .textoubicacion {
    width: 100%;
    text-align: center;
    padding-right: 90px;
  }
  .dondeestamos h3 {
    margin: auto;
    margin-top: 25px;
    padding-top: 25px;
    width: 50%;
    text-align: center;
  }
  .dondeestamos .ubicacion {
    width: 100%;
    text-align: center;
  }
  .dondeestamos .ubicacion img {
    width: 60%;
  }
  .mapa iframe {
    width: 70%;
  }
}
footer {
  height: 610px;
  margin-top: 30px;
  background-color: rgba(77, 83, 97, 0.151);
}

.productosfooter {
  text-align: center;
}
.productosfooter h4 {
  padding-top: 25px;
  padding-bottom: 5px;
  color: rgb(11, 0, 0);
  border-bottom: #800000 2px solid;
  width: 50%;
  margin: auto;
}
.productosfooter a {
  text-decoration: none;
  color: #800000;
}
.productosfooter p {
  margin-top: 15px;
}

.horariosfooter {
  text-align: center;
}
.horariosfooter h4 {
  padding-top: 25px;
  padding-bottom: 5px;
  color: rgb(11, 0, 0);
  border-bottom: #800000 2px solid;
  width: 50%;
  margin: auto;
}
.horariosfooter a {
  text-decoration: none;
  color: #800000;
}
.horariosfooter p {
  margin-top: 15px;
  padding: 10px;
}

.contactofooter {
  text-align: center;
  display: block;
}
.contactofooter h4 {
  padding-top: 25px;
  padding-bottom: 5px;
  color: rgb(11, 0, 0);
  border-bottom: #800000 2px solid;
  width: 50%;
  margin: auto;
}
.contactofooter a {
  text-decoration: none;
  color: #800000;
}
.contactofooter p {
  margin-top: 10px;
  padding: 10px;
}
.contactofooter i {
  color: #800000;
}
.contactofooter .direccion {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.contactofooter .email {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
}

.derechos {
  background-color: rgba(77, 83, 97, 0.211);
  font-size: 10px;
  padding: 10px;
  text-align: center;
}

@media (min-width: 769px) {
  footer {
    height: 280px;
    display: flex;
    justify-content: space-around;
  }
}
.panaderiaportada {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.panaderiaportada img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.panaderiaportada h1 {
  position: absolute;
  top: 25%;
  color: rgb(255, 255, 255);
  width: 100%;
  margin-left: 20%;
  font-size: 55px;
  text-shadow: 2px 2px 2px black;
}
.panaderiaportada p {
  padding: 15px;
}

.imagenespanaderia {
  width: 100%;
  text-align: center;
}
.imagenespanaderia img {
  width: 90%;
  height: 350px;
  margin-top: 10px;
  object-fit: cover;
}

@media (min-width: 769px) {
  .panaderiaportada {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  .panaderiaportada img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  .panaderiaportada h1 {
    position: absolute;
    top: 25%;
    color: rgb(255, 255, 255);
    width: 100%;
    margin-left: 20%;
    font-size: 55px;
    text-shadow: 2px 2px 2px black;
  }
  .panaderiaportada p {
    text-align: center;
    padding: 15px;
  }
  .imagenespanaderia {
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
  }
  .imagenespanaderia img {
    width: 400px;
    margin-top: 10px;
  }
  .imagenespanaderia img:hover {
    transform: scale(1.1);
    transition: 1.8s;
    border-radius: 20px;
  }
}
.contactoportada {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.contactoportada img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.contactoportada h1 {
  position: absolute;
  top: 45%;
  color: rgb(255, 255, 255);
  width: 100%;
  margin-left: 50px;
  font-size: 55px;
  font-weight: bold;
  text-shadow: 2px 2px 2px black;
}
.contactoportada p {
  text-align: center;
  padding: 15px;
}

.formulariocontacto {
  width: 100%;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: auto;
}
.formulariocontacto form {
  background-color: rgba(77, 83, 97, 0.318);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  width: 340px;
  padding: 20px;
}
.formulariocontacto form .input-group {
  flex-direction: column;
  text-align: left;
  display: flex;
}
.formulariocontacto form .input-group label {
  color: rgb(72, 73, 79);
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 10px;
}
.formulariocontacto form .input-group input, .formulariocontacto form .input-group textarea {
  width: 300px;
  padding: 10px 15px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
}

.btn {
  margin-top: 10px;
  background-color: rgb(242, 226, 123);
  width: 130px;
  color: white;
  transition: 0.5s;
}
.btn:hover {
  background-color: rgba(242, 226, 123, 0.57);
}

@media (min-width: 769px) {
  .contactoportada p {
    font-size: 20px;
  }
  .formulariocontacto form {
    width: 840px;
  }
  .formulariocontacto form .input-group {
    align-items: center;
  }
  .formulariocontacto form .input-group input, .formulariocontacto form .input-group textarea {
    width: 500px;
  }
  .btn {
    background-color: rgb(221, 111, 21);
    width: 230px;
  }
}
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/*# sourceMappingURL=styles.css.map */
